section {
    padding-top:1rem;
    padding-bottom:1rem;
}

#panier {

    button {
        margin-right: 1rem;
    }

    table {
        width: 100%;
        display: none;
        svg {
            :hover{
                cursor: pointer;
            }
        }

        thead {
            display: none;
            @media only screen and (min-width: 768px) {
                display: table-header-group;
 
                }
            :nth-child(1){
                text-align: start;
            }    

        }
        th {
            text-align:center    
 
        }

        #productThmb{
            text-align: start;
        }

        img {
            margin:auto;
            height:50px;
            width: 50px;
            object-fit: cover;
            display: none;

            @media only screen and (min-width: 768px) {
                display: initial;
                }
        }

        td {
            height: 20px;
            text-align:center;
        }

        tfoot {
            :nth-child(1) {
                text-align: end;
            }
            svg{
                color: red;
            }

        }
    }
}

#commande {
    display: none;

    p {
        text-align: justify;
    }
    tr {
        :nth-child(2) {
            padding-left:10px;
        }
    }

    button {
        font-weight:bolder;
        font-size: 20px;
    } 

    input{
        margin-top: 5px;
        margin-bottom: 5px;
        &:invalid{
            border: 1px solid black;;
        }
        &:valid{
            border: 1px solid black;
        }

    }

    #city{
        text-transform: uppercase;
    }

    #errorMessage{
        color:red;
        font-style: italic;
        display:none;
    }
}
